---
---
<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    <div class="app">
        <div class="app-nav">
            {% include nav.html %}
        </div>
        <div class="app-main"> 
            <div class="container">
                <div class="canopy">
                    <div class="canopy-inner">
                        <div class="u-logo--highlightOnHover">
                            <a class="canopy-link--elusive" href="{{ site.url | absolute_url }}">
                                <div class="canopy-logo">
                                    <div class="logo logo--center logo--140px logo--404"></div>
                                </div>
                            </a>
                            <a class="canopy-title" href="{{ site.url | absolute_url }}">404</a>
                        </div>
                        <h3 class="canopy-description">Page could not be found.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
