---
title: Archive
permalink: archive
---
<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    <div class="app">
        <div class="app-nav">
            {% include nav.html %}
        </div>
        <div class="app-main">
            <div class="container">
                <dl class="archive">
                    {% for post in site.posts %}
                        {% capture current_post_year %}{{ post.date | date: "%Y" }}{% endcapture }%}
                        {% if current_post_year == prev_post_year %}
                            {% comment %} Do nothing {% endcomment %}
                        {% else %}
                            {% assign prev_post_year = current_post_year %}
                            <dt class="archive-year">{{ current_post_year }}</dt>
                        {% endif %}
                            <dt class="archive-date">{{ post.date | date: "%b %d"}}</dt>
                            <dd class="archive-title">{{ post.title }}</dd>
                    {% endfor %}
                </dl>
            </div>
        </div>
    </div>
</body>
</html>
