{% comment %}
    This include file contains the global nav for the website.
{% endcomment %}

<div class="nav">
    <div class="nav-inner">
        <div class="nav-brand">
            {% comment %} Don't display the branding (logo+title) on the landing page. {% endcomment %}
            {% if page.is_landing == nil %}
                <a class="nav-link--elusive" href="{{ site.url | absolute_url }}">
                    <ul class="nav-items u-logo--highlightOnHover">
                        <li class="nav-item">
                            <div class="nav-logo">
                                {% comment %} On the 404 page, display the 404-flavoured logo. {% endcomment %}
                                <div class="logo {% if page.is_404 %}logo--404{% endif %}"></div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <h1 class="nav-title">{{ site.title }}</h1>
                        </li>
                    </ul>
                </a>
            {% endif %}
        </div>
        <div class="nav-menu">
            <ul class="nav-items">
                <li class="nav-item">
                    <div class="nav-trigger">
                        <div class="nav-triggerLabel"></div>
                        <div class="nav-sidebar">
                            <div class="nav-sidebarInner">
                                <ul class="nav-list">
                                    <li class="nav-listHeading">Publication</li>
                                    <li class="nav-listItem"><a class="nav-listLink" href="{{ site.url | absolute_url }}">Home</a></li>
                                    <li class="nav-listItem"><a class="nav-listLink" href="{{ site.url | absolute_url }}{% link pages/about.md %}">About</a></li>
                                    <li class="nav-listItem"><a class="nav-listLink" href="{{ site.url | absolute_url }}{% link pages/archive.html %}">Archive</a></li>
                                </ul>
                                {% comment %}
                                    <!-- The following was commented out because we're not ready for displaying categories yet. -->
                                    <ul class="nav-list">
                                        <li class="nav-listHeading">Categories</li>
                                        {% assign category_count = 1 %}
                                        {% for category in site.categories %}
                                            <li class="nav-listItem"><a class="nav-listLink" href="{{ site.url | absolute_url }}">{{ category | first}}</a></li>
                                            {% if category_count == '5' %}
                                                <li class="nav-listItem"><a class="nav-listLink" href="{{ site.url | absolute_url }}">all &rarr;</a></li>
                                                {% break %}
                                            {% else %}
                                                {% capture category_new_count %}{{ category_count | plus: 1 }}{% endcapture %}
                                                {% assign category_count = category_new_count %}
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% endcomment %}
                                <ul class="nav-list">
                                    <li class="nav-listHeading">Inside</li>
                                    <li class="nav-listItem"><a class="nav-listLink" href="{{ site.url | absolute_url }}{% link pages/colophon.md %}">Colophon</a></li>
                                    <li class="nav-listItem nav-listLink--external"><a class="nav-listLink" href="https://github.com/{{ site.github_username}}/{{ site.github_username}}.github.io">GitHub</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
