{% comment %}
    This include file contains the global nav for the website.
{% endcomment %}

<nav class="nav">
    <div class="nav-inner">
        <a class="nav-link" href="{{ site.url | absolute_url }}">
            {% comment %} Since branding is cohesive, the link wraps around all branding on purpose. {% endcomment %}
            <ul class="nav-brand">
                <li class="nav-title">{{ site.title }}</li>
            </ul>
        </a>
        <ul class="nav-navigation">
            <li><a class="nav-link" href="{{ site.url | absolute_url }}{% link pages/about.md %}">About</a></li>
            <li><a class="nav-link" href="{{ site.url | absolute_url }}{% link pages/colophon.md %}">Colophon</a></li>
            <li><a class="nav-link nav-link--external" href="https://github.com/{{ site.github_username}}/{{ site.github_username}}.github.io">GitHub</a></li>
        </ul>
    </div>
</nav>
