

//==============================================================================
// Colour palette
//==============================================================================

$pure-white: #FFFFFF;

$pure-black: #000000;

$light-blue: #E4F1FE;

//==============================================================================
// Theme application
//==============================================================================

// $base-red:
// $accent-red-base
// $accent-red-light
// $accent-red-dark

//==============================================================================
// UI typography text size
//==============================================================================

$ui-text-size-hugest: 6em;
$ui-text-size-huger: 4em;
$ui-text-size-huge: 3em;
$ui-text-size-largest: 2em;
$ui-text-size-larger:  1.5em;
$ui-text-size-large: 1.25em;
$ui-text-size-base: 1em;
$ui-text-size-small: .95em;
$ui-text-size-smaller: .9em;
$ui-text-size-smallest: .865em;
