/* Background Colors */

.u-backgroundWhite {
    background-color: #FFFFFF !important;
}

.u-backgroundGrayLightest {
    background-color: #F5F5F5 !important;
}

.u-backgroundBlueLightest {
    background-color: #F9FCFF !important;
    background-color: #F3F7FA !important;
    background-color: #fafafa !important;
}

.u-backgroundBlueLight {
    background-color: $light-blue !important;
}

.u-backgroundBluePrimary {
    background-color: #1738c6 !important;
}

.u-backgroundBlueGreyDark {
    background-color: #A1A7AD !important;
}
