/* Z-index Utilities */

$u-zIndex1: 100;
$u-zIndex2: 200;
$u-zIndex3: 300;
$u-zIndex4: 400;
$u-zIndex5: 500;
$u-zIndex6: 600;
$u-zIndex7: 700;
$u-zIndex8: 800;
$u-zIndex9: 900;

.u-zIndex1 {
    z-index: $u-zIndex1 !important;
}

.u-zIndex2 {
    z-index: $u-zIndex2 !important;
}

.u-zIndex3 {
    z-index: $u-zIndex3 !important;
}

.u-zIndex4 {
    z-index: $u-zIndex4 !important;
}

.u-zIndex5 {
    z-index: $u-zIndex5 !important;
}

.u-zIndex6 {
    z-index: $u-zIndex6 !important;
}

.u-zIndex7 {
    z-index: $u-zIndex7 !important;
}

.u-zIndex8 {
    z-index: $u-zIndex8 !important;
}

.u-zIndex9 {
    z-index: $u-zIndex9 !important;
}
