.archive {
}

.archive::after {
    @include clearfix;
}

// Displays a list of all archives
.archive-enumeration {

}

// Displays report to let user know there are no posts available yet.
.archive-empty {
    font-size: 1rem;
    $size: 8em;
    padding: {
        top: $size;
        bottom: $size;
    }
}

.archive-year {
    font-size: 1.75em;
    font-weight: 700;
}

.archive-year::after {
    @include clearfix;
}
.archive-date {
    color: #aaa;
    float: left;
    width: 100px;
}

.archive-date::after {
    $middot-unicode: "\00b7";
    content: $middot-unicode;
    display: none; // Hide for now until we decide we need it
}
.archive-title {
}
