$board--accent-bar-height: 3px;

.board {
    background-color: $color-primary;
}

// Establish some global rules for the glowing border.
.board::before {
    height: $board--accent-bar-height;
    width: 100%;
    display: block;
}

.board::before {
    content: "";
    background-image: linear-gradient(90deg, lighten( $color-accent, 10% ), lighten( $color-accent-counter, 10% ));
}

.board--404 {
    background-image: linear-gradient(90deg, $color-accent, $color-accent-counter);
}

.board--404::before {
    content: "";
    background-image: linear-gradient(90deg, lighten( complement($color-accent), 10% ), lighten( complement($color-accent-counter), 10% ));
}
