.canopy {
    text-align: center;
}

.canopy-inner {
    padding: {
        top: 120px;
        bottom: 120px;
    }
}

.canopy-link--elusive {
    text-decoration: none;
}

.canopy-logo {
    margin: {
        left: auto;
        right: auto;
        bottom: .5em;
    }
}

.canopy-title {
    font-family: "Rubik";
    font-weight: 700;
    font-size: 1.85em;
    text-transform: uppercase;
    width: 600px;
    margin-bottom: .25em;
    text-decoration: none;
}

.canopy-byline {
    color: #666;
    font-family: "Rubik";
    font-weight: 700;
    font-size: .9em;
    text-transform: uppercase;
    width: 500px;
    margin: {
        top: .25em;
        bottom: .25em;
        left: auto;
        right: auto;
    }
}

.canopy-description {
    width: 500px;
    color: #888;
    font-size: 1.225em;
    line-height: 140%;
    margin: {
        left: auto;
        right: auto;
    }
}
