.canopy {
}

.canopy-inner {
    padding-bottom: 4rem;
}

.canopy a {
    color: $color-text-heading-invert !important;
}

.canopy-link--elusive {
    text-decoration: none;
}

.canopy-title {
    color: $color-text-heading-invert;
    font-weight: $font-weight-bolder;
    font-size: $font-size-largest;
    text-decoration: none;
    margin-bottom: .25em;
}

.canopy-description {
    color: $color-text-invert;
    font-size: $font-size-regular;
    line-height: 175%;
}
