.logo {
    $size: 32px;
    background-image: linear-gradient(180deg, #2563F5, #602CDB);
    height: $size;
    width: $size;
    @include border-radius($size * .05); // Border radius is 5% of the box size.
    position: relative;
    @include highlight-ghost(.4, .8s);
    /*
    opacity: .4;
    filter: alpha(opacity=40); // for IE8 and earlier
    $time: .8s;
    -webkit-transition: opacity $time;
    -moz-transition: opacity $time;
    -o-transition: opacity $time;
    transition: opacity $time; */
}

.logo:hover, .u-logo--highlightOnHover:hover .logo {
    @include highlight-hover(1);
}

.logo::before {
    $space: 4px;
    //content: "";
    position: absolute;
    background-color: #fff;
    top: $space;
    bottom: $space;
    left: $space;
    right: $space;
}

.logo--140px {
    $size: 140px;
    height: $size;
    width: $size;
}

.logo--center {
    margin: {
        left: auto;
        right: auto;
    }
}

.logo--404 {
    background-image: linear-gradient(180deg, #F59425, #F5254B) !important;
}
