$nav--height: 72px;

.nav {
    color: $color-text-invert;
    padding-bottom: 8rem;
}

.nav::after {
    @include clearfix;
}

.nav-inner { }

.nav-navigation, .nav-brand {
    font-size: $font-size-smaller;
    height: $nav--height;
    line-height: $nav--height;
    list-style-type: none;
}

// Used to display branding elements.
.nav-brand {
    font-family: $font-family-text;
    float: left;
}

.nav-brand > li {
    float: left;
}

// Displays navigation elements.
.nav-navigation {
    font-family: $font-family-text;
    float: right;
}

// Float the nav items.
.nav-navigation > li {
    float: left;
    margin-left: 1.25rem;
}

.nav-navigation > li:first-of-type {
    margin-left: 0rem;
}

// Clear the floats.
.nav-brand::after, .nav-navigation::after {
    @include clearfix;
}

// Remove underline from links.
.nav-link {
    text-decoration: none;
}

// Display an indicator which indicates that links redirects outside website.
.nav-link--external::after {
    $rightwards-sans-serif-arrow-unicode: "\1f852";
    content: $rightwards-sans-serif-arrow-unicode;
    font-size: $font-size-smaller * .90; // A percentage of.
    position: relative;
}

.nav-title {
    color: $color-text-heading-invert;
    font-weight: $font-weight-bolder;
    letter-spacing: 1px;
    position: relative;
}
