.para * {
}

.para * {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

// Note: `.para-a` mimics `.para a` for places where we want to display paragraph-style anchors.
.para a, .para-a a{
    color: $color-text-link;
    box-shadow: inset 0px -1px 0px $color-text-link-decoration;
    text-decoration: none;
}

.para a:hover, .para-a a:hover {
    color: $color-text-link-hover;
}

.para a:visited, .para-a a:visited {
    color: $color-text-link-visited;
}

.para h1, .para h2, .para h3, .para h4, .para h5, .para h6 {
    font-family: $font-family-heading;
}

.para h1 {
    font-size: $font-size-large;
    font-weight: $font-weight-bolder;
    margin-top: 1.25rem;
}

// Push H1 away from from any previous element in order to show difference.
.para * + h1 {
    margin-top: 2.25rem;
}

.para h2 {
    font-size: $font-size-regular;
    font-weight: $font-weight-bolder;
    margin-top: 1.25rem;
}

.para h3 {
    color: $color-text-heading;
    font-size: $font-size-smallest;
    font-weight: $font-weight-bolder;
    text-transform: uppercase;
    letter-spacing: .5pt;
    margin-top: 1.25rem;
    margin-bottom: .25rem !important;
}

// Let H4, H5, and H6 share the same style because we will rarely use H4 - H6.
.para h4, .para h5, .para h6 {
    color: $color-text-heading;
    font-size: $font-size-smallest;
    font-weight: $font-weight-bolder;
}

// We set the margins for the headings here.
// Pull the headings closer to the next element in order to show association.
.para h1 + *, .para h2 + *, .para h3 + *, .para h4 + *, .para h5 + *, .para h6 + * {
    margin-top: .6rem !important; // Override exisiting margins rules.
}

// We set margin for flow content here.
.para p, .para .para-p, .para ul, .para ol, .para pre {
    $space: 1.25rem;
    $space: 1.75rem;
    margin: {
        top: $space;
        bottom: $space;
    }
}

// Note: .para-p is used to mimic <p> in places where <p> cannot be used.
.para p, .para .para-p {

}

.para a {
    text-decoration: none;
}

.para ul, .para ol {
    margin-left: 1.25rem;
    margin-bottom: 1rem; // Push away any element after the ordered and unordered list.
}

.para li {
    margin-bottom: 1rem;
    padding-left: .4rem;
}

.para li p {
    $size: .75rem;
    $size: 1.25rem;
    margin: {
        top: $size;
        bottom: $size;
    }
}

.para blockquote {
    border-left: .5rem solid $color-border;
    padding-left: 1.75rem;
}

.para code.highlighter-rouge {
    color: $color-text-code;
    font-size: $font-size-regular;
    padding: 2px;
}

.para code, .para pre {
    font-size: $font-size-regular;
    font-family: $font-family-monospace;
}

.para pre {
    overflow-y: auto;
}

.para img {
}

.para em, .para i {
    font-style: italic;
}

.para strong, .para b {
    font-weight: $font-weight-bold;
}

.para del {

}

.para hr { }

.para hr::before {
    content: "___";
    color: $color-text-weaker;
    font-weight: $font-weight-bolder;
    letter-spacing: 1em; // Control space between concatenated underscores.
    text-align: center;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 10%;
    transform: translateY(-10%); // for perfect centering of the dots.
}

.para br { }
