.post {
    color: $color-text;
}

.post-meta {
}

.post-date, .post-subtitle {
    font-family: $font-family-heading;
    color: $color-text-weaker;
    font-size: $font-size-tiny;
    font-weight: $font-weight-bolder;
    transition: color .2s;
}

.post-meta:hover .post-date {
    color: inherit;
}

.post-heading {
    font-family: $font-family-heading;
    font-size: $font-size-larger;
    font-weight: $font-weight-bolder;
}

.post-link {
    text-decoration: none;
}

.post-readmore {
    color: $color-text-link;
    font-size: $font-size-regular;
    font-style: italic;
    box-shadow: inset 0px -2px 0px $color-text-link-decoration-weak;
    text-decoration: none;
}

.post-readmore:hover {
    color: $color-text-link-hover;
}

.post-readmore:visited {
    color: $color-text-link-visited;
}

.post-content {
    line-height: 175%;
}

.post-nav {
    font-size: 1rem;
    margin-top: 5rem;
    padding: 4rem 0px;
}

.post-nav::after {
    @include clearfix;
}

.post-prev, .post-next {
    width: 50%;
    float: left;
}

.post-prev {

}

.post-next {

}

.post-navLabel {
    color: $color-text-weaker;
    font-family: $font-family-heading;
    font-weight: $font-weight-bolder;
    font-size: $font-size-small;
    text-transform: uppercase;
}

.post-navLink {
    color: $color-text-link;
    font-size: $font-size-large;
    font-style: italic;
    box-shadow: inset 0px -2px 0px $color-text-link-decoration-weak;
    text-decoration: none;
    margin-top: 1rem;
}

.post-navLink:hover {
    color: $color-text-link-hover;
}

.post-navLink:visited {
    color: $color-text-link-visited;
}

// Utility: Center text.
.page-u--centerText {
    text-align: center;
}
