$posts-post--padding: 4rem;

.posts {
}

.posts-post {
    //border-top: 1px solid #eee;
}

.posts-post {
    padding: {
        top: $posts-post--padding;
        bottom: $posts-post--padding;
    }
}

.posts-post:first-of-type {
    padding-top: $posts-post--padding * 2;
}
