.post {
    color: #1F1F1F;
    font-size: 18px;
}

.post-meta {
}

.post-date, .post-subtitle {
    color: #ccc;
    font-size: .8em;
    font-weight: 700;
    transition: color .2s;
}

.post-meta:hover .post-date {
    color: inherit;
}

.post-heading {
    font-size: 1.75em;
    font-weight: 700;
}

.page-heading {
    font-size: 1.75em;
    font-weight: 700;
}

.post-link {
    text-decoration: none;
}

.post-readmore {
    color: #000;
    font-size: .875em;
    /*
    color: gray;
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    font-size: .85em;
    padding: .4em 1em;
    text-decoration: none;
    @include border-radius(1em); */
}

.post-readmore:hover {
    color: red;
}

.post-content {
    font-family: "Merriweather", serif;
    font-size: 1em;
    line-height: 175%;
}

.post-tags {
    font-size: .8em;
    list-style-type: none;
    margin-top: .5rem;
    padding: {
        top: 1rem;
        bottom: 1rem;
    }
}

.post-tags::after {
    @include clearfix;
}

.post-tag {
    float: left;
    background-color: #eee;
    color: #666;
    font-size: .9em;
    text-transform: capitalize;
    $height: 2rem;
    height: $height;
    line-height: $height;
    white-space: nowrap; // never break a tag
    margin-right: 1rem;
    $horizontal-padding: .5rem;
    padding: {
        left: $horizontal-padding;
        right: $horizontal-padding;
    }
    @include border-radius(2px);
}

.post-tag:last-of-type {
    margin-right: 0rem;
}

.post-authors {
    border-top: 1px solid #eee;
    margin-top: 1rem;
    padding-top: 1rem;
}

.post-authorsHeading {
    font-size: .8em;
    color: #bbb;
    text-transform: uppercase;
    padding: {
        top: 1rem;
        bottom: .5rem;
    }
}

.post-author {
    margin-top: 1.5rem;
    width: 80%; // Make author width small to accomodate a neater-looking bio text.
}

.post-author::after {
    @include clearfix;
}

.post-authorIcon {
    float: left;
    $size: 0rem;
    width: $size;
    height: $size;
}

.post-authorName {
}

.post-authorBio {
    color: #666;
    font-size: .8em;
}

.post-authorName, .post-authorBio {
    padding-left: 0rem;
}

.post-nav {
    margin-top: 5rem;
    padding: 2rem 0px;
    border-top: 1px solid #eee;
}

.post-nav::after {
    @include clearfix;
}

.post-prev, .post-next {
    font-size: .9em;
    width: 50%;
    float: left;
}

.post-prev {

}

.post-next {

}

.post-navLabel {
    color: #888;
    font-size: .9em;
    text-transform: uppercase;
}

.post-navLink {
    margin-top: 1rem;
}

// Utility: Center text.
.page-u--centerText {
    text-align: center;
}
