<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    <div class="app">
        <div class="app-nav">
            {% include nav.html %}
        </div>
        <div class="app-main">
            <div class="container">
                <div class="article">
                    <div class="post">
                        <div class="post-meta">
                            <h1 class="post-heading"><a class="post-link" href="{{ page.url | absolute_url }}">{{ page.title }}</a></h1>
                                {% if page.subtitle %}
                                    <h3 class="post-subtitle">{{ page.subtitle }}</h3>
                                {% endif %}
                        </div>
                        <div class="post-content">
                            <div class="para">
                                {{ content | smartify }}
                            </div>
                        </div>
                    </div>
                    {% comment %}
                        <ul>
                            {% for role in site.data.roles %}
                                <li>{{ role.name }}</li>
                                {% for person in role.people %}
                                    {% for author in site.data.authors %}
                                        {% if person[0] == author[0] %}
                                            {{ author.first_name }} {{ author.last_name }}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
