<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    <div class="app">
        <div class="app-nav">
            {% include nav.html %}
        </div>
        <div class="app-main">
            <div class="canopy">
                <div class="canopy-inner">
                    <div class="u-logo--highlightOnHover">
                        <a class="canopy-title" href="{{ site.url | absolute_url }}">{{ page.title }}</a>
                    </div>
                    <h3 class="canopy-description">{{ page.description | smartify }}</h3>
                </div>
            </div>
            <div class="posts">
                {% comment %} Get all the Docs {% endcomment %}
                {% assign docs = site.pages | where: "categories", "Docs" %}

                {% if docs %}
                    {% comment %}
                        Collate all the sections into one array.
                        First, create an empty array.
                        Second, force the section string to become an array.
                        Third, concatenate the 'now an array' section string to the `sections` array.
                    {% endcomment %}
                    {% assign sections = '' | split: '' %}
                    {% for doc in docs %}
                        {% assign empty_array = '' | split: '' %}
                        {% assign array = doc.sections | concat: empty_array %}
                        {% assign sections = sections | concat: array %}
                    {% endfor %}

                    {% if sections == nil %}
                        {% comment %} Remove duplicate sections, and sort it {% endcomment %}
                        {% assign sections = sections | uniq | sort %}

                        {% comment %} For every page within the current section, display the post excerpt {% endcomment %}
                        {% for section in sections %}
                            {% assign docs = site.pages | where: "sections", section %}
                            {% for doc in docs %}
                                <div class="posts-post">
                                    <div class="container">
                                        <h1 class="posts-section">{{ section }}</h1>
                                        {% comment %} Pass the doc to post.html {% endcomment %}
                                        {% include post.html article=doc excerpt=true %}
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% else %}
                        <div class="posts-empty">
                            <div class="container">
                                {% include nothing-to-display.html %}
                            </div>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="posts-empty">
                        <div class="container">
                            {% include nothing-to-display.html %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
