<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    <div class="app">
        <div class="app-main">
            <div class="board">
                <div class="container">
                    {% include nav.html %}
                </div>
                <div class="container">
                    <div class="canopy">
                        <div class="canopy-inner">
                            <h1 class="canopy-title">{{ site.title }}</h1>
                            <div class="canopy-description">
                                <div class="para">
                                    <p>{{ site.description | smartify }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="posts">
                {% if site.posts[0] %}
                    {% for post in site.posts %}
                        <div class="posts-post">
                            <div class="container">
                                <div class="post">
                                    {% include post-meta.html source=post %}
                                    {% include post-excerpt.html source=post %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="posts-post">
                        <div class="container">
                            {% include nothing-to-display.html %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
